langchain 
pinecone
pypdf 
langchain-pinecone 
langchain-community
langchain-huggingface
langchain-google-genai
dotenv
langgraph
fastapi[all]
uvicorn
BeautifulSoup4
ipywidgets
vietnam-number
requests
pinecone
gtts
langchain-core
langchain-tavily
google-search-results